@use "../../styles/variables" as *;
@use "../../styles/placeHolders" as *;
@use "../../styles/_mixins.scss" as *;
.container {
  @extend %basic-card-style;
  form {
    @extend %cards-flexible;
    flex-wrap: wrap;
    align-items: baseline;
    @include respond(tablet) {
      gap: 10px;
    }

    button {
      @extend %button-delete;
    }
    input {
      @extend %input-style;
    }

    @include respond(mobile) {
      button {
        margin-bottom: 10px;
      }
      input,
      button {
        width: 100%;
      }
    }
  }
  span {
    @extend %error-style;
  }
}
