<div class="container">
  <form #addMealForm="ngForm" (ngSubmit)="onSubmit(addMealForm)">
    <input
      name="meal"
      type="text"
      required
      [(ngModel)]="userMeal.meal"
      placeholder="Meal Name"
      #meal="ngModel" 
    />

    <input
      name="calories"
      type="text"
      required
      pattern="^[0-9]*$"
      [(ngModel)]="userMeal.calories"
      placeholder="kcal"
      #calories="ngModel"
    />
    <button type="submit">Add</button>
  </form>

  <p>Enter meal name and its calories then press Add.</p>

  <div class="errors">
    @if (meal.invalid && (meal.touched || meal.dirty)) {
    <span>Meal Name is required.</span>
    } @else if (calories.invalid && (calories.touched || calories.dirty)) {
    <span>Please enter numbers only.</span>
    }
  </div>
</div>
