@use "../../styles/variables" as *;
@use "../../styles/placeHolders" as *;

.container {
  span {
    @extend %cards-flexible;
    justify-content: flex-start;
    gap: 12px;
  }

  .userMeal {
    @extend %cards-flexible;
    @extend %basic-card-style;
    margin-top: 10px;
  }
}
