@use "../../styles/variables" as *;
@use "../../styles/placeHolders" as *;

.container {
  max-width: 1100px;
  // background-color: #0004ff34;
  header {
    margin-bottom: 30px;
    h1 {
      font-size: $font-size-md;
      @extend %text-gradiant;
    }
  }
}
