@use "app/styles/variables" as *;
@use "app/styles/placeHolders" as *;
@use "app/styles/_mixins.scss" as *;

body {
  margin: 0;
  padding: 28px 0 0 0;
  box-sizing: border-box;
  font-family: $font-main;
  color: $primary-color;
  background-color: $background-color;
  @extend %normal-flexible;
}

p {
  font-size: $font-size-sm;
  color: $secondary-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  @extend %basic-card-style;
}

.delete {
  @extend %delete-style;
}

.card-header {
  @extend %cards-flexible;
  margin-bottom: 10px;
}
