@use "../../styles/variables" as *;
@use "../../styles/placeHolders" as *;
.container {
  section {
    @extend %cards-flexible;
    justify-content: space-around;

    .summary-content {
      margin: 22px 0 42px;
      div {
        text-align: center;
        &:first-child {
          padding-bottom: 36px;
        }
      }
    }
  }
}
